.App {
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
  width: 100%;
  height: 150px;
  background-color: slateblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar .links{
  text-align: center;
  margin-right: 50px;
}

.navbar a{
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  margin: 10px;
  /* font-size: 15px; */
}

.profile img{
  width: 60px;
  height: 60px;
  border: solid 3px white;
  border-radius: 50px;
}

.profile {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 50px;
}

.profile p{
  font-size: 15px;
  margin-right: 10px;
  color: white;
}



.createpost{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px) ;
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input, 
textarea{
  padding: 8px 10px;
  margin: 3px 8px 16px 8px ;
  background-color: rgba(222,239,248,0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: rgb(97, 4 ,184);
  font-size: 16px;
  z-index: 1;
}

.submitButton:hover {
  cursor: pointer;
}